$color-white: #ffffff;
$color-mercury: #e5e5e5;
$color-black: #000000;
$color-gray: #808080;
$color-pocelain: #eef0f2;
$color-geyser: #dfe3e6;
$color-torch-red: #ea0029;
$color-loblolly: #bec5cc;
$color-pomegrante: #f53a31;

$font-lab-grotesque: "Lab Grotesque", sans-serif;

$gradient: linear-gradient(
    255.35deg,
    #dc3131 0.83%,
    rgba(255, 79, 79, 0) 108.93%
  ),
  #ff5e56;
